#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Solo Lobby Remove Rules
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=sh -e -c "exec bash \\"\\$(dirname \\"\\$0\\")/remove-rules.sh\\"" %k
